@import "_colors.scss";

.text__size_12 {
    font-size: 12px;
}

.text__size_14 {
    font-size: 14px;
}

.text__size_16 {
    font-size: 16px;
}

.text__size_18 {
    font-size: 18px;
}

.text__size_20 {
    font-size: 20px;
}

.text__size_22 {
    font-size: 22px;
}

.text__size_24 {
    font-size: 24px;
}


.text__weight_600 {
    font-weight: 600;
}

.text__justify {
    text-align: justify;
}

.text__black {
    color: $black;
}

.text__white {
    color: $white;
}